header {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/ba/1e/c1/ba1ec15cc6bae37822e0eea5dbc24108.jpg");
    background-size: 1750px;

}

#bricks{
    height: 200px;
    background-image: url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg");
    background-size: 900px;
    color:  #ffeb13;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
}

#yellow{
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 4px 6px black;
}

#ivy{
    height: 500px;
}
.ballpark-image {
    height: 200px;
    width: 300px;
    border: 1px solid black;

}

#team-logo {
    height: 50px;
    width: fit-content;
}

#ballparks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 50px;
}

.ballpark-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    text-align: center!important;
    box-shadow: 4px 4px 2px rgba(0,0,0,.125);
    padding: 15px;
}

#ballpark-name{
    font-size: 20px;
    font-weight: bold;
}

#bp-btns{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#ballpark-info{
    display: flex;

}

#bp-img-2{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

#team-logo-2{
    height: 100px;
    width: fit-content;
}

#bp-dimensions{
    height: 300px;
}

.ballpark-info{
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 4px 4px 2px rgba(0,0,0,.125);
    padding: 15px;
}

#dimensions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info{
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#main-image{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#review-header{
    height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}