{% extends 'base.html' %}

{% block title %}Ballpark Ratings{% endblock %}

{% block body %}
    <div class="ballpark-info">
        <div id="info">
            <h4>Home Team: {{ ballpark.home_team }}</h4>
            <h4>Capacity: {{ ballpark.capacity }}</h4>
            <h4>Location: {{ ballpark.location }}</h4>
            <h4>Year Opened: {{ ballpark.year_opened }}</h4>
            <h4>Playing Surface: {{ ballpark.surface }}</h4>
            <h4>Roof Type: {{ ballpark.roof_type }}</h4>

        </div>
        <div id="main-image">
            <img id="team-logo-2" src="{{ ballpark.team_logo }}" alt="Team Logo">
            <h1>{{ ballpark.ballpark_name }} Ratings </h1>
            <img id="bp-img-2" src="{{ ballpark.ballpark_image }}" alt="larger bp view">
        </div>
        <div id="dimensions">
            <h4>Ballpark Dimensions:</h4>
            <img id="bp-dimensions" src="{{ ballpark.ballpark_dimensions }}" alt="Ballpark Dimensions">
        </div>
    </div>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Username</th>
                <th>Atmosphere Score</th>
                <th>Accessibility Socre</th>
                <th>Concessions Score</th>
                <th>Aesthetics Score</th>
                <th>Total Score</th>

            </tr>
        </thead>
        <tbody>
        {% for rating in ballpark_ratings %}
        <tr>
            {% if rating.user.username != session["username"] %}
            <td><a href="/look-up-user/{{ rating.user.user_id }}"><button class="btn btn-primary">{{ rating.user.username }}</button></a></td>
            {% else %}
            <td><a href=""><button class="btn btn-danger">Delete</button></a></td>
            {% endif %}
            <td>{{ rating.atmosphere_score }}</td>
            <td>{{ rating.accessibility_score }}</td>
            <td>{{ rating.concessions_score }}</td>
            <td>{{ rating.aesthetics_score}}</td>
            <td>{{ rating.total_score }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>





{% endblock %}
