{% extends 'base.html' %}

{% block title %}All Ballparks{% endblock %}

{% block body %}
<section id="ballparks">
    {% for ballpark in ballparks %}
    <div class="ballpark-card">
        <p id="ballpark-name">{{ballpark.ballpark_name}}</p>
        <img id="team-logo"  src="{{ballpark.team_logo}}" alt="primary logo">

        <img class="ballpark-image" src="{{ ballpark.ballpark_image }}" alt="ballpark view from home"/>

        <div id="bp-btns">
            <a href="/ballparks/{{ ballpark.ballpark_id }}/reviews"><button class="btn btn-primary">Reviews</button></a>
            <a href="/ballparks/{{ ballpark.ballpark_id }}/ratings"><button class="btn btn-danger">Ratings</button></a>
        </div>

    </div>
    {% endfor %}
</section>
{% endblock %}