<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">

    {% block head %}{% endblock %}
</head>



<body>

    <header>
   
        <div id="bricks">
            <div id="title">
            <h1 id="yellow">Take Me Out <br> to the <br> Ball Game</h1>
            </div>
        </div>
    </header>
    
    <nav id="nav" class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="/ballparks">Ballparks</a>
                    <a class="nav-link" href="/bucket-list">Bucket List</a>
                    <a class="nav-link" href="/review">Review</a>
                    <a class="nav-link" href="/rate">Rate</a>
                    {% if 'username' in session %}
                        <a class="nav-link" href="/logout">Log Out</a>
                    {% else %}
                        <a class="nav-link" href="/login">Login</a>
                    {% endif %}
                    {% if 'username' in session %}
                        <a class="nav-link" href="/user-profile">Your Profile</a>
                    {% endif %}    
                </div>
            </div>
        </div>
    </nav>
    

  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}

{% block body %}

{% endblock %}
    
</body>




</html>