{% extends 'base.html' %}

{% block title %}Ballpark-features{% endblock %}

{% block body %}


<div id="feature-form-container" class="form-container mt-5">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="rr-head"><h3>Add features from {{ ballpark.ballpark_name }} to your Bucket-List</h3></div>
    <form id="feature-form" action='/create-bucket-list/{{ ballpark_id }}' method="POST">
        {{ feature_form.csrf_token }}
        <div class="form-group mt-2">
            {{ feature_form.feature_selection.label }}
            {{ feature_form.feature_selection }}
        </div>
        <div class="form-group mt-2">
            {{ feature_form.submit(type="submit", class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}