{% extends 'base.html' %}

{% block title %}Review-Ballpark{% endblock %}

{% block body %}



<div class="form-container mt-5">
    <div class="rr-head"><h3>Review your seats at a ballpark</h3></div>
    <br>
    <form method="POST" action='/add-review'>
        {{ review_form.hidden_tag() }}
        <div class="form-group mt-2">
            {{ review_form.visit_date.label }}
            {{ review_form.visit_date }}
        </div>
        <div class="form-group mt-2">
            {{ review_form.ballpark_selection.label }}
            {{ review_form.ballpark_selection }}
        </div>
        <div class="form-group mt-2">
            {{ review_form.seat_location.label }}
            {{ review_form.seat_location(placeholder="section: / row: / seat:") }}
        </div>
        <div class="form-group mt-2">
            {{ review_form.seat_view.label }}
            {{ review_form.seat_view(placeholder="upload an image") }}
        </div>
        <div class="form-group mt-2">
            {{ review_form.description.label }}
            {{ review_form.description(placeholder="How were your seats?")}}
        </div>
        <div class="form-group mt-2">
            {{ review_form.favorite_food_tried.label }}
            {{ review_form.favorite_food_tried }}
        </div>
        <div id="submit-btn" class="form-group mt-2">
            {{ review_form.submit(type="submit", class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}